.calendar-container {}

.table-center {
    text-align: center;
    min-width: 100px;
    padding: 5px;
    position: relative;
    font-weight: bold;
}

.reservation-slot {
    display: flex;
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inactive {
    background-color: grey;
    cursor: default;
}

.free {
    background-color: green;
    cursor: pointer;
}

.reserved {
    background-color: red;
    cursor: default;
}

.own {
    background-color: yellow;
    cursor: pointer;
}